@{
    Layout = "_StudentLayout";
}

<br /><br /><br />

    <form asp-action="StudentModule" asp-controller="Student" class="container" width="50%" align="center" style="max-width: 600px; margin: 0 auto;">
        <h2>Welcome Student</h2>

     
    </form>
 
