@model Core_CollegeGrievanceCell.Models.User
@{
    Layout = "_HODLayout";
}

<br />
<br />

<form asp-action="HODModule" asp-controller="HOD" class="container" width="50%" align="center" style="max-width: 600px; margin: 0 auto;">
    <h2>Welcome HOD</h2>

  

</form>