@model Core_CollegeGrievanceCell.Models.Admin
@{
    Layout = "_AdminLayout";
}
<br />
<br />

<form asp-action="AdminModule" asp-controller="College" class="container" width="50%" align="center" style="max-width: 600px; margin: 0 auto;">
    <h2>Welcome @ViewBag.name</h2>

 

</form>