@{
    Layout = "_CollegeLayout";
}
<p>
   <h2> College Grievance Cell</h2><br />
    Welcome to the College Grievance Cell's "About Us" page. We are dedicated to ensuring a transparent, fair, and harmonious environment for all members of our college community. Our grievance cell is committed to addressing and resolving concerns, complaints, and grievances in a prompt and unbiased manner.

    <h3> Mission</h3><br>
    Our mission is to provide a platform for students, faculty, and staff to express their concerns and grievances related to various aspects of college life. We aim to foster a positive and inclusive learning and working environment by actively addressing issues and maintaining open lines of communication.
</p>