@{
    Layout = "_CollegeLayout";
}
<p>
    <h1>Contact Us</h1>
    <h3>Office Hours</h3>
    <h3>Monday - Friday:</h3>  9:00 AM - 5:00 PM
    <h3>Saturday:</h3> 10:00 AM - 2:00 PM
    <h3>Sunday:</h3> Closed

    <h3>Contact Information</h3>
    If you have any questions, concerns, or feedback, please feel free to reach out to us. Our dedicated team is here to assist you.

    <h3>Email:</h3>
    <h3>General Inquiries:</h3> college@gmail.com
    <h3>Grievance Cell:</h3> college@gmail.com<br /><br /><br /><br />
    Thank you for choosing to connect with us. We look forward to assisting you and ensuring a positive college experience for all.


</p>