@model Core_CollegeGrievanceCell.Models.User
@{
    Layout = "_CollegeLayout";
}

<form asp-action="SignUp" asp-controller="College" class="container" width="50%" align="center" style="max-width: 370px; margin: 0 auto;">
    <h2>Register Page</h2>
    <br />

    <table>
        <tr>
            <td>
                <label asp-for="UserId"></label>
            </td>
            <td>
                <input type="text" asp-for="UserId" class="form-control" required />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="UserName"></label>
            </td>
            <td>
                <input type="text" asp-for="UserName" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password"></label>
            </td>
            <td>
                <input type="text" asp-for="Password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Department"></label>
            </td>
            <td>
                <select asp-for="Department" required>

                    <option value="">Select Department</option>
                    <option value="Cse">Cse</option>
                    <option value="Ece">Ece</option>
                    <option value="EEE">EEE</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="IT">IT</option>

                </select>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="PhoneNumber"></label>
            </td>
            <td>
                <input type="text" asp-for="PhoneNumber" class="form-control" />
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="EmailID"></label>
            </td>
            <td>
                <input type="text" asp-for="EmailID" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Designation"></label>
            </td>
            <td>
                <select asp-for="Designation" required>
                    <option value="">Select Designation</option>
                    <option value="Admin">Admin</option>
                    <option value="HOD">HOD</option>
                    <option value="Student">Student</option>


                </select>


            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" name="add" value="Register"  class="btn btn-primary form-control" onclick="return confirm(' Click Ok To Continue..!')" />
            </td>
        </tr>
    </table>
    <br />
    @if (ViewBag.Primary != null)
    {
        <h5 class="text-success align-content-center">@ViewBag.Primary</h5>
    }
    @if (ViewBag.Foreign != null)
    {
        <h5 class="text-danger align-content-center">@ViewBag.Foreign</h5>
    }
    @if (ViewBag.Result != null)
    {
        <h5 class="text-danger align-content-center">@ViewBag.Result</h5>
    }
    @if (ViewBag.msg != null)
    {
        <h5 class="text-danger align-content-center">@ViewBag.msg</h5>
    }
    <a asp-action="Login" asp-Controller="College">Back</a>


</form>

