<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core_CollegeGrievanceCell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Core_CollegeGrievanceCell.styles.css" asp-append-version="true" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table width="100%" class="table" style="border:1px solid black;border-collapse:collapse;" border="1" height="595" align="center">
            <tr height="90" style="background-color:blue;color:white">
                <td colspan="2" class="td1"><center><h1>College Grievance Cell</h1><h2>HOD Module</h2></center></td>
            </tr>
          
        @*    <tr height="50" style="background-color:white;color:black">
                <td colspan="2" align="center">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" style="margin: 0; padding: 0;">
                            <li style="display:inline-block; margin-right: 40px;" class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="College" asp-action="Login"><h4>Home</h4></a>
                            </li>
                            <li style="display:inline-block; margin-right: 40px;" class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="College" asp-action="Privacy"><h4>Privacy</h4></a>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>*@
            <tr>
                <td height="90%" width="300">
                    <ul>
                        <br />
                        <br />
                        <li>
                            <a asp-action="DisplayAllComplaints" asp-controller="HOD">Display AllComplaints</a>
                        </li>
                        <br />
                        <br />
                        <li>
                            <a asp-action="SolveComplaint" asp-controller="HOD">Pending Complaints</a>
                        </li>
                        <br />
                        <br />
                        <li>
                            <a asp-action="DisplaySolved" asp-controller="HOD">Solved Complaints</a>
                        </li>
                        <br />
                        <br />
                        <li>
                            <a asp-action="Login" asp-controller="College">Logout</a>
                        </li>
                      
                    </ul>
                </td>
                <td height="90%" width="1500">
                        @RenderBody()
                </td>
            </tr>
            <tr style="background-color:yellow;color:black">
                <td colspan="2"><center>Our Address: 10th Floor, Sandhya Techno1,Khajaguda X Roads, Hyderabad</center></td>
            </tr>
        </table>
    </div>

</body>
</html>
